.menu-accueil-container, .menu-evenement-container {
        // nav
        .menu {
            //ul
                .menu-item {
                        &:nth-of-type(1){
                        z-index: 5;
                        animation : anim-entete 1s 0s forwards; 
                        }
                        &:nth-of-type(2){
                        z-index: 4;
                        animation : anim-entete 1s .25s forwards; 
                        }
                        &:nth-of-type(3){
                        z-index: 3;
                        animation : anim-entete 1s .50s forwards; 
                        }
                        &:nth-of-type(4){
                        z-index: 2;
                        animation : anim-entete 1s .75s forwards; 
                        }
                }
        }
}
@keyframes anim-entete {
    0% {
      transform: translateX(-1000px);
              transform: translateX(-1000px);
      filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
              transform: translateX(0);
      filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
}
