.burger{
    position : absolute;
    border-radius: 5px;
    margin: 5px;
    padding-top: 2px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    overflow: hidden;
    &:hover{
        background-color: grey;
    }
    

    &__ligne{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background-color: black;
        transition: clip-path .5s;
        &:nth-of-type(1){
            clip-path: polygon(0 0,100% 0,100% 20%,0% 20%);
        }
        &:nth-of-type(2){
            clip-path: polygon(0 40%,100% 40%,100% 60%,0% 60%);
        }
        &:nth-of-type(3){
            clip-path: polygon(0 80%,100% 80%,100% 100%,0% 100%);
        }
        
    }
    // &:hover{
    //     .burger__ligne:nth-of-type(1){
    //         clip-path: polygon(7.1% -7.1%, 107.1% 92.9%, 92.9% 107.1%, -7.1% 7.1%);
    //     }
    //     .burger__ligne:nth-of-type(2){
    //         clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
    //     }
    //     .burger__ligne:nth-of-type(3){
    //         clip-path: polygon(-7.1% 92.9% ,92.9% -7.1%,  107.1% 7.1% , 7.1% 107.1%  );
    //     }
    // }
    
}
.burger__X{
        .burger__ligne:nth-of-type(1){
            clip-path: polygon(7.1% -7.1%, 107.1% 92.9%, 92.9% 107.1%, -7.1% 7.1%);
        }
        .burger__ligne:nth-of-type(2){
            clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
        }
        .burger__ligne:nth-of-type(3){
            clip-path: polygon(-7.1% 92.9% ,92.9% -7.1%,  107.1% 7.1% , 7.1% 107.1%  );
        }
    }