/* ---------------- BACKGROUND */
$color__background-body : #6873FA;
$color__background-main : #6873FA;
$color__background-cours : #cdd1ff;
$color__background-header : #d6daff;
$color__background-barre : white;
$color__background-footer : #1f234e;
$color__background-link : white;
$color__background-link-hover : white;
$color__background-404 : white;
$color__background-body-clip : white;
/* ---------------- LIENS */
$color__link : black;
$color__link-hover : grey;
$color__link-visited : blue;
/* ---------------- LIENS FOOTER */
$color__link__footer : white;
$color__link__footer-hover : black;
$color__link__footer-visited : grey;

/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(0, 82%, 68%);
$color__link__header-hover : hsl(123, 63%, 72%);
$color__link__header-visited : hsl(261, 62%, 56%);

$color__link__animation : hsl(0, 0%, 100%);
$color__link__animation-hover : hsl(0, 0%, 0%);
$color__link__animation-visited : hsl(0, 0%, 53%);

/* ---------------- FONT */
$color__font-header : black;
$color__font-main :black;
$color__font-barre : black;
$color__font-footer : white;

/* ---------------- SVG */
$color__svg-util: rgb(255, 255, 255);

/* ---------------- Scroll */
$color__scroll-footer: rgb(153, 222, 231);

