.site__header {
  background-color: $color__background-header;
  color: $color__font-header;
  padding-left: 20px;
  display : flex;
  align-items: center;

  h1,h2,a {
    vertical-align: baseline;
  }
  
}

.titre {
    font-size: 3em;
    font-family: $font__titre;
}
.description {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-family: $font__main;
}

.util {
    margin-left : auto;
    display : flex;
    flex-direction : column;
    &__menu{
      display : flex; 
    }
  }

.site__barre{
  ul{
    a{
      display: flex;
      align-items: center;
    }
  }
}