.menu-accueil-container, .menu-evenement-container {
    // nav
    .menu {
        //ul
        display : flex;
        justify-content: space-around;
        margin-top: 5%;
        li{
            border-radius: 5%;
            background-color: $color__background-header;
        }
        .accueil__cours .menu-item-icone{
            background-image: url("https://s2.svgbox.net/hero-solid.svg?ic=academic-cap");
        }
        .accueil__profs .menu-item-icone{
            background-image: url("https://s2.svgbox.net/hero-solid.svg?ic=academic-cap");
        }
        .accueil__nouveaux .menu-item-icone{
            background-image: url("https://s2.svgbox.net/hero-solid.svg?ic=academic-cap");
        }
        .accueil__aide .menu-item-icone{
            background-image: url("https://s2.svgbox.net/hero-solid.svg?ic=academic-cap");
        }
        .accueil__porte__1 .menu-item-icone{
            background-image: url("https://s2.svgbox.net/hero-solid.svg?ic=academic-cap");
        }
        .accueil__porte__2 .menu-item-icone{
            background-image: url("https://s2.svgbox.net/hero-solid.svg?ic=academic-cap");
        }
        .accueil__journee .menu-item-icone{
            background-image: url("https://s2.svgbox.net/hero-solid.svg?ic=academic-cap");
        }
        .accueil__projet .menu-item-icone{
            background-image: url("https://s2.svgbox.net/hero-solid.svg?ic=academic-cap");
        }
        .menu-item {
            //li
            display : flex;
            flex-direction: column;
            flex : 0 0 20%;
            width: 20vw;
            min-height: 100px;
            max-height: 300px;
            border : 1px solid #aaa;
            opacity: 0;
           

            a {//a
                display : flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                height : 100%;
                font-size: clamp(1rem,2.5vw,2rem);
                
                .menu-item-description {// span
                    font-size: clamp(0.5rem,1.5vw,1.5rem);
                    text-align: center;
                }

                .menu-item-icone {
                    width : 2rem;
                    height : 2rem;
                    border : 1px solid #aaa;
                    margin-top : auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
} 
// .menu-accueil-container