#chk-burger{
    display: none;
}

.menu-menu-container {
    display : none;
    margin-top: 5vh;
}

#chk-burger:checked ~ .menu-menu-container{
    display : block;
}

.menu{
    list-style-type: none;
    margin : 0;
    padding :0;
}

.menu-item{
    margin:0;
    padding : 0;
    a{
        display : block;
        text-decoration: none;
        padding : 4px;
        // background-color: $color__background-link;
        &:hover {
            background-color: $color__background-link-hover;
        }
    }
}

@media screen and (min-width : $largeur__media--tablette){
    .site #burger {
        display : none;
    }
    .site .menu-menu-container{
        display : block;
    }
    .home #burger {
        display : block;
    }
    .home .menu-menu-container{
        display : none;
    }
}








